@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: flex;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #261b3b;
}

nav {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-logo {
  max-width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.links a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
}

.links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #d5d2c9;
  transition: all 0.3s ease;
}

.links a:hover::after {
  width: 70%;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #3a1b61;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #4023b6;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}

.blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px rgba(240, 38, 38, 0.5);
  z-index: -100;
}

header {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

header .content h4 {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

header .content h1 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

header .content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  transition: all 0.3s ease;
}

header .content h1 span:hover {
  -webkit-text-stroke: 1px #ff004c;
}

header .content p {
  margin-bottom: 2rem;
  color: #ccc;
}

header .image img {
  max-width: 600px;
  margin: auto;
}

section .header {
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

.habilidades {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.habilidades .card {
  background-color: #1e1d2e;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.habilidades .card:hover {
  background-color: #2b2a41;
  border-color: #fff;
}

.habilidades .card span {
  display: inline-block;
  background-color: #716f99;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: #fff;
  border-radius: 5px;
}

.habilidades .card h4 {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.habilidades .card p {
  color: #ccc;
  font-size: 1rem;
}

.sub-header {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: #ccc;
}

.prc {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.prc .card {
  background-color: #2e2c47;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.prc .card:hover {
  background-color: #2b2a41;
  color: #ccc;
  border-color: #ccc;
}

.prc .card .content {
  flex: 1;
  margin-bottom: 2rem;
}

.prc .card h4 {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

.prc .card h3 {
  color: #fff;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 2px dashed #fff;
}

.prc .card p {
  color: #fff;
  margin-bottom: 0.75rem;
}

.prc .card p i {
  color: #ccc;
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

.cv {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.cv .card {
  background-color: #1e1d2e;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.cv .card span {
  display: inline-block;
  background-color: #716f99;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: #fff;
  border-radius: 5px;
}

.cv .card p {
  color: #ccc;
  font-size: 1rem;
}

.cv .card:hover {
  background-color: #2b2a41;
  border-color: #fff;
}

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #261b3b;
}

::-webkit-scrollbar-thumb {
  background-color: #640000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #490202;
}

.home i {
  display: inline-block;
  background-color: #473863;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: #fff;
  border-radius: 5px;
}

.home i:hover {
  background-color: #795cad;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

form label {
  font-size: 1.5rem;
  color: #ccc;
}

.titulo-form {
  font-size: 2rem;
  color: #ccc;
  margin-bottom: 20px;
}
form input[type="text"],
form input[type="email"],
form input[type="datetime-local"],
form input[type="tel"],
form select,
form textarea {
  width: 40%;
  padding: 8px;
  border-radius: 3px;
  border: none;
  background-color: #f9f9ee;
  font-size: 1.2rem;
}

.descricao {
  height: 200px;
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
}

input[type="submit"] {
  background-color: black;
  color: white;
  font-size: 1.4rem;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover {
  background-color: #9595d9;
  color: #ffffff;
}

.contato-bg {
  background-image: linear-gradient(#261b3b, #281f55);
}

.image-sobre {
  max-width: 600px;
  display: flex;
  margin-left: 700px;
  margin-top: -200px;
}

.nome-sobre {
  font-size: 2rem;
  color: #ccc;
  margin-bottom: 20px;
}

.sobre-lista {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
  color: #ccc;
}

.palavritas {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.palavritas .card {
  background-color: #2e2c47;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.palavritas .card h2 {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.palavritas .card p {
  color: #ccc;
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.palavritas .card iframe {
  border-radius: 8px;
}

@media (width < 900px) {
  .nav-links {
    display: none;
  }

  header {
    grid-template-columns: repeat(1fr);
  }

  header .image {
    grid-area: 1/1/2/2;
  }

  .habilidades {
    grid-template-columns: repeat(2, 1fr);
  }

  .prc {
    grid-template-columns: repeat(2, 1fr);
  }

  .cv {
    grid-template-columns: repeat(2, 1fr);
  }

  .palavritas {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (width < 600px) {
  header .image::before {
    display: none;
  }

  .habilidades {
    grid-template-columns: repeat(1, 1fr);
  }

  .prc {
    grid-template-columns: repeat(1, 1fr);
  }

  .cv {
    grid-template-columns: repeat(1, 1fr);
  }

  .palavritas {
    grid-template-columns: repeat(1, 1fr);
  }
}
